# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Fundamentos/HolaMundo/nbproject/private/
/Fundamentos/HolaMundo/build/
/Fundamentos/ManejoVariables/nbproject/private/
/Fundamentos/ManejoVariables/build/
/Fundamentos/ManejoCadenasBasico/nbproject/private/
/Fundamentos/ManejoCadenasBasico/build/
/Fundamentos/ManejoOperadores/nbproject/private/
/Fundamentos/ManejoOperadores/build/
/Fundamentos/PrecedenciaOperadores/nbproject/private/
/Fundamentos/PrecedenciaOperadores/build/